.PaddingBox
.Content
  %h1 新規Sepageフォーム
  .CreateForm
    = form_with model: @domaine , local: true do |f|
      %table.CreateForm__Info
        %tbody
          %tr
            %th
              = f.label :name, "国名", class: 'CreateForm__label'
            %td
              = f.text_field :name, class: 'CreateForm__input', placeholder: ''
          %tr
            %th
              = f.label :flag, "画像", class: 'CreateForm__label'
            %td
              = f.file_field :flag, class: 'CreateForm__input'
      -# .CreateForm__field
        -# = f.fields_for :productimages do |op|
        -#   = render 'wines/productimage_fields', f: op
        -#   .links
        -#     = link_to_add_association '＋別の商品を追加', f, :productimages
        -# = f.fields_for :productimages do |image_form|
          -# .CreateForm__leftField
          -#   = f.label :flg, "画像", class: 'CreateForm__label'
          -# .CreateForm__rightField
          -#   = f.file_field :flg, class: 'CreateForm__input'


      .CreateForm__field
        .CreateForm__leftField
        .CreateForm__rightField
          = f.submit '登録', class: 'Form__submitBtn'

