.PaddingBox
.Content
  %h1 新規Sepageフォーム
  .CreateForm
    = form_with model: @sepage , local: true do |f|
      %table.CreateForm__Info
        %tbody
          %tr
            %th
              = f.label :kind, "ワイン名", class: 'CreateForm__label'
            %td
              = f.text_field :kind, class: 'CreateForm__input', placeholder: ''
          %tr
            %th
              = f.label :name, "スペル表記", class: 'CreateForm__label'
            %td
              = f.text_field :name, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :title, "サブコメント", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :title, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :comment, "詳細", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_area :comment, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :taste_comment, "味わい", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_area :taste_comment, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :producer, "生産者", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :producer, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :domaine_id, "生産国", class: 'CreateForm__label'
      -#       %td
      -#         = f.collection_select :domaine_id, Domaine.all, :id, :name, include_blank: "選択して下さい"
      -#     %tr
      -#       %th
      -#         = f.label :chator, "ドメーヌ", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :chator, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :price, "価格", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :price, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :aoc, "AOC", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :aoc, class: 'CreateForm__input', placeholder: ''
      -#     %tr
      -#       %th
      -#         = f.label :cuisine, "お勧め料理", class: 'CreateForm__label'
      -#       %td
      -#         = f.text_field :cuisine, class: 'CreateForm__input', placeholder: ''
      -# .CreateForm__field
      -#   = f.fields_for :productimages do |op|
      -#     = render 'productimage_fields', f: op
      -#     .links
      -#       = link_to_add_association '＋別の商品を追加', f, :productimages
        -# = f.fields_for :productimages do |image_form|
        -#   .CreateForm__leftField
        -#     = image_form.label :image, "画像", class: 'CreateForm__label'
        -#   .CreateForm__rightField
        -#     = image_form.file_field :image, class: 'CreateForm__input'


      .CreateForm__field
        .CreateForm__leftField
        .CreateForm__rightField
          = f.submit '登録', class: 'Form__submitBtn'

