= render "wines/shop_header"

.CartBody
  CARTS
  .Cart
    .Cart__Table
      %table.table.table-hover
        %thead
          %tr{:align => "center"}
            %td{:colspan => "2"} 商品
            %td{:width => "160"} 数量
            %td{:width => "130"} 小計
        %tbody
          - @cart.cart_items.each do |item|
            %tr{:height => "150"}
              %td{:align => "center"}
                = link_to wine_path(item.wine.id), class: 'no-underline' do
                  = image_tag item.wine.productimages[0].image_url, class: 'CratWine--image'
              %td{:width => "500"}
                .CratWine--element
                  = link_to wine_path(item.wine.id), class: 'no-underline' do
                    = item.wine.name
                .CratWine--element
                  = "生産者：#{item.wine.producer}"
                .CratWine--element
                  = "タイプ：#{item.wine.wine_type.group}"
                .CratWine--element
                  = "#{number_with_delimiter(item.wine.price)}円"
              %td{:align => "center"} 削除
              %td{:align => "center"} ５０００円
      %hr
    .Cart__Price
      合計　　　？？？円

