= render "wines/shop_header"

.CartBody
  CARTS
  .Cart
    .Cart__Table
      %table.table.table-hover
        %thead
          %tr{:align => "center"}
            %td{:colspan => "2"} 商品
            %td{:width => "160"} 数量
            %td{:width => "130"} 小計
        %tbody
          - @cart.cart_items.each do |item|
            %tr{:height => "150"}
              %td{:align => "center"}
                = link_to wine_path(item.wine.id), class: 'no-underline' do
                  = image_tag item.wine.productimages[0].image_url, class: 'CratWine--image'
              %td{:width => "500"}
                .CratWine--element
                  = link_to wine_path(item.wine.id), class: 'no-underline' do
                    = item.wine.name
                .CratWine--element
                  = "生産者：#{item.wine.producer}"
                .CratWine--element
                  = "タイプ：#{item.wine.wine_type.group}"
                .CratWine--element
                  = "#{number_with_delimiter(item.wine.price)}円"
              %td{:align => "center"}
                %select{style: "height: 30px; width: 50px;"}
                  %option 1
                  %option 2
                  %option 3
                  %option 4
                  %option 5
                
                = link_to cart_cart_items_path(id: item.id, wine_id: item.wine_id, cart_id: @cart.id), method: :delete do
                  .btn{style: "margin-top: 20px; display: inline-block; height: 30px; width: 70px; background-color: rgb(136, 57, 57); color: #fff;"} 削除


              %td{:align => "center"}
                ????円
                                  
      %hr
    .Cart__Price
      合計　　　？？？円

