= javascript_include_tag 'particles.min'
= javascript_include_tag 'setting'

.AccountField#particles-js
  .AccountPage
    .Input_Field
      .AccountPage__title
        %h2 Sign In
      .AccountPage__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .FormField
            .FormField__label--normal
              = f.label :email, "E-MAIL"
            .FormField__input--normal
              = f.email_field :email, autofocus: true
          .FormField
            .FormField__label--normal
              = f.label :password, "PASSWORD"
            .FormField__input--normal
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Sign In", class: 'Button UserButton'
      = render "devise/shared/links"
