.PaddingBox
.MyWineField
  .Butler_Info
    .Butler_Info--neko
      = image_tag ('neko_turushi.png'), class: 'nekoTurushuImg'
    - if @sparklingWines.blank?
      .Butler_Info--comment 
        = link_to butler_root_path, class: 'no-underline' do
          = "#{current_user.nickname}様のお好みをまだ把握できておらず、、少しお話ししませんか？"
    - else 
      .Butler_Info--comment
        = "#{current_user.nickname}様にオススメのワインをリストアップいたしました。"
  .MenuTabField
    .MenuTab
      %ul.Winelist
        %li
          = link_to "#", class: "wine_item active" do
            スパークリングワイン
        %li
          = link_to "#", class: "wine_item" do
            白ワイン
        %li
          = link_to "#", class: "wine_item" do
            赤ワイン
  .RecomendWineLists
    %ul.WineContents
      %li.WineContent.show
        - @sparklingWines.each do |wine|
          .WineContent__Box
            = link_to wine_path(wine.id), class: 'no-underline' do
              = image_tag wine.productimages[0].image_url, class: 'WineContent__Box--Image'
            .WineContent__Box--domeine
              = image_tag wine.domaine.flag_url, class: 'frag_image'
              = "#{wine.domaine.name} / #{wine.chator}"
            .WineContent__Box--name
              = link_to wine_path(wine.id), class: 'no-underline' do
                = wine.name
            .WineContent__Box--title
              = wine.title
      %li.WineContent
        - @blancWines.each do |wine|
          .WineContent__Box
            = link_to wine_path(wine.id), class: 'no-underline' do
              = image_tag wine.productimages[0].image_url, class: 'WineContent__Box--Image'
            .WineContent__Box--domeine
              = image_tag @wine.domaine.flag_url, class: 'frag_image'
              = "#{wine.domaine.name} / #{wine.chator}"
            .WineContent__Box--name
              = link_to wine_path(wine.id), class: 'no-underline' do
                = wine.name
            .WineContent__Box--title
              = wine.title
      %li.WineContent
        - @rougeWines.each do |wine|
          .WineContent__Box
            = link_to wine_path(wine.id), class: 'no-underline' do
              = image_tag wine.productimages[0].image_url, class: 'WineContent__Box--Image'
            .WineContent__Box--domeine
              = image_tag wine.domaine.flag_url, class: 'frag_image'
              = "#{wine.domaine.name} / #{wine.chator}"
            .WineContent__Box--name
              = link_to wine_path(wine.id), class: 'no-underline' do
                = wine.name
            .WineContent__Box--title
              = wine.title
