= render "shop_header"

.WineBody
  .WineSide
    .WineSide--search
      タイプ
    .WineSide--element
      - WineType.all.each do |type|
        = link_to type.group, wines_path({q: {"wine_type_id_eq": type.id, commit: "Search" }})
        %br
    %hr
    .WineSide--search
      産地
    .WineSide--element
      - Domaine.all.each do |domaine|
        = link_to domaine.name, wines_path({q: {"domaine_id_eq": domaine.id, commit: "Search" }})
        %br
    %hr
    -# .WineSide--search
    -#   品種
    -# .WineSide--element
    -#   - Sepage.all.each do |sepage|
    -#     = link_to sepage.name, wines_path({q: {"wine.wine_sepages_id_eq": sepage.id, commit: "Search" }})
    -#     %br
    -# %hr
    .WineSide--search
      価格
    .WineSide--element
      
    %hr

  .WineMainField
    .Sort_field
      .Sort_field__box
        Search Sort：
        = link_to "", class: "" do
          = sort_link(@search, :name, "商品名")
        = link_to "", class: "" do
          = sort_link(@search, :price, "価格")
        = link_to "", class: "" do
          = sort_link(@search, :domaine_id, "生産地")
        = link_to "", class: "" do
          = sort_link(@search, :wine_type_id, "タイプ")
    .Products
      - @wines.each do |wine|
        .Products__Box
          .Products__Box__left
            = link_to wine_path(wine.id), class: 'no-underline' do
              = image_tag wine.productimages[0].image_url, class: 'Products__Box__left--image'
          .Products__Box__center
            .Products__Box__center--name
              = link_to wine_path(wine.id), class: 'no-underline' do
                = wine.name
            .Products__Box__center--info
              = wine.name_spell
            .Products__Box__center--info
              = "生産者：#{wine.producer}"
            .Products__Box__center--info
              = "タイプ：#{wine.wine_type.group}"
            .Products__Box__center--info
              生産地：
              = image_tag wine.domaine.flag_url, class: 'frag_image'
              = "#{wine.domaine.name} / #{wine.chator}"
            .Products__Box__center--info
              = "説　明：#{wine.title}"
          %hr 
          .Products__Box__right
            = "#{number_with_delimiter(wine.price)}円"
        %hr
      .p-top__paginate
        = paginate @wines
