= render "shop_header"

.WineBody
  .WineSide
    .WineSide--search
      タイプ
    .WineSide--element
      スパークリング
      %br
      白ワイン
      %br
      赤ワイン
    %hr
    .WineSide--search
      味わい
    .WineSide--element
      
    %hr
    .WineSide--search
      産地
    .WineSide--element
      フランス
      %br
      イタリア
      %br
      スペイン
      %br
      ポルトガル
      %br
      ドイツ
      %br
      アメリカ
      %br
      日本
      %br
      その他
    %hr
    .WineSide--search
      品種
    .WineSide--element
      
    %hr
    .WineSide--search
      価格
    .WineSide--element
      
    %hr

  .WineMainField
    .Products
      - @wines.each do |wine|
        .Products__Box
          .Products__Box__left
            = link_to wine_path(wine.id), class: 'no-underline' do
              = image_tag wine.productimages[0].image_url, class: 'Products__Box__left--image'
          .Products__Box__center
            .Products__Box__center--name
              = link_to wine_path(wine.id), class: 'no-underline' do
                = wine.name
            .Products__Box__center--info
              = wine.name_spell
            .Products__Box__center--info
              = "生産者：#{wine.producer}"
            .Products__Box__center--info
              = "タイプ：#{wine.wine_type.group}"
            .Products__Box__center--info
              生産地：
              = image_tag wine.domaine.flag_url, class: 'frag_image'
              = "#{wine.domaine.name} / #{wine.chator}"
            .Products__Box__center--info
              = "説　明：#{wine.title}"
          %hr 
          .Products__Box__right
            = "#{number_with_delimiter(wine.price)}円"
        %hr
      .p-top__paginate
        = paginate @wines
