.PaddingBox
.WineHeader
  .SearchField
    %h1 Wines#index
    %p Find me in app/views/wines/index.html.haml
.PaddingBox2
.WineItemInfomation
  .Product
    .Product__Left
      .Product__Left__ImageBox
        = image_tag @wine.productimages[0].image_url, class: 'Product__Left__ImageBox--image'
      .Product__Left--flever
        フレーバー
      .Product__Left--body
        ボディ
      .Product__Left--taste
        味わい
    .Product__Right
      .WineInfo
        .WineInfo__top
          - case @wine.wine_type_id
            - when 1 then
              .WineInfo__top--nameSpell.sparkling
                = @wine.name_spell
              .WineInfo__top--name.sparkling
                = @wine.name
            - when 2 then
              .WineInfo__top--nameSpell.blanc
                = @wine.name_spell
              .WineInfo__top--name.blanc
                = @wine.name
            - when 3 then
              .WineInfo__top--nameSpell.rouge
                = @wine.name_spell
              .WineInfo__top--name.rouge
                = @wine.name
          .WineInfo__top--title
            = @wine.title
        .WineInfo__Price
          = @wine.price
        .WineInfo__SubInfo
          = @wine.comment
        %hr
        .WineInfo__TasteComment
          - case @wine.wine_type_id
            - when 1 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--SP 味わい
            - when 2 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--B 味わい
            - when 3 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--R 味わい
          = @wine.taste_comment
        %hr
        .WineInfo__ParsonalData
          %table.Product__table
            %tbody
              %tr
                %th 生産者
                %td
                  = @wine.producer
              %tr
                %th 生産地
                %td
                  = "#{@wine.domaine.name} / #{@wine.chator}"
              %tr
                %th 原産地呼称
                %td A.O.C
              %tr
                %th タイプ
                %td
                  = @wine.wine_type.group
              %tr
                %th 品種
                %td
                  - @wine.sepages.each do |sepage|
                    = sepage.name
                    %br
              %tr
                %th おすすめ料理
                %td 
