= javascript_include_tag 'wines'
= render "shop_header"

.WineItemInfomation
  .Product
    .Product__Left
      .Product__Left__ImageBox
        %ul#list
          %li
            = image_tag @wine.productimages[1].image_url, class: 'List--image'
          %li
            = image_tag @wine.productimages[0].image_url, class: 'List--image'
        #main
          = image_tag @wine.productimages[1].image_url, class: 'Main--image'
      -# .Product__Left--flever
      -#   フレーバー
      .Product__Left--body
        %h4 ボディ
        .Bar__Para
          .Bar__Para__bar
            .Bar__Para__bar--ele
              = @wine.body
          .Bar__Para--body
            ライトボディ　　　　ミディアムボディ　　　　フルボディ
      .Product__Left--taste
        %h4 味わい
        %canvas#myChart
    .Product__Right
      .WineInfo
        .WineInfo__top
          - case @wine.wine_type_id
            - when 1 then
              .WineInfo__top--nameSpell.sparkling
                = @wine.name_spell
              .WineInfo__top--name.sparkling
                = @wine.name
            - when 2 then
              .WineInfo__top--nameSpell.blanc
                = @wine.name_spell
              .WineInfo__top--name.blanc
                = @wine.name
            - when 3 then
              .WineInfo__top--nameSpell.rouge
                = @wine.name_spell
              .WineInfo__top--name.rouge
                = @wine.name
          .WineInfo__top--title
            = @wine.title
        .WineInfo__Price
          .WineInfo__Price__price
            = "#{number_with_delimiter(@wine.price)}円"
          .WineInfo__Price__cart
            = link_to wine_cart_items_path(@wine.id), method: :post do
              %button.btn{style: "display: inline-block; height: 50px; width: 150px; background-color: #440000; color: gold;"} カートに入れる
        %hr

        .WineInfo__SubInfo
          = @wine.comment
        %hr
        .WineInfo__TasteComment
          - case @wine.wine_type_id
            - when 1 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--SP 味わい
            - when 2 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--B 味わい
            - when 3 then
              .WineInfo__TasteComment--ele.WineInfo__TasteComment--R 味わい
          = @wine.taste_comment
        %hr
        .WineInfo__ParsonalData
          %table.Product__table
            %tbody
              %tr
                %th 生産者
                %td
                  = @wine.producer
              %tr
                %th 生産地
                %td
                  = image_tag @wine.domaine.flag_url, class: 'frag_image'
                  = "#{@wine.domaine.name} / #{@wine.chator}"
              %tr
                %th 原産地呼称
                %td
                  = @wine.aoc
              %tr
                %th タイプ
                %td
                  = @wine.wine_type.group
              %tr
                %th 品種
                %td
                  - @wine.sepages.each do |sepage|
                    = sepage.name
                    %br
              %tr
                %th おすすめ料理
                %td
                  = @wine.cuisine

