!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Majordone
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %script{src: "https://unpkg.com/scrollreveal"}
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .HeaderList
        = link_to root_path, class: 'HeaderList__Logo' do
          = image_tag ('majordone_logo.svg'), class: 'top_logo'
        - if user_signed_in?
          .menu
            %div MENU
            %div.menu-trigger{ href: '#'}
              %span
              %span
              %span
    - if user_signed_in?
      %nav#slide-menu
        %div#user-info
        %ul
          = link_to homepage_root_path, class: 'no-underline' do
            %li My Menu(/user#edit)
          = link_to homepages_winelists_path, class: 'no-underline' do
            %li Wine List(wines#MyList)
          = link_to homepages_recipelists_path, class: 'no-underline' do
            %li My Recipe(recipes#Mylist)
          = link_to butler_root_path, class: 'no-underline' do
            %li Battler(ワイン診断)
          = link_to edit_user_path(current_user.id), class: 'no-underline' do
            %li ユーザー編集
          = link_to destroy_user_session_path, method: :delete, class: 'no-underline' do
            %li ログアウト


          
    = yield

    %footer
      &copy; 2020 T-Nakamura